@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Encode Sans Expanded', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accommodationsTag {
    text-decoration: none;
color: black;
}

.accommodationsTag:hover {

    color: rgb(207, 3, 252);
}

.rsvpModal {
    margin: auto;
    padding: 1rem;
}

.modalHeader {
    background-color: rgb(3, 165, 252);
}

.modalBody {
    background: linear-gradient(108deg, rgba(207, 3, 252, 1) 0%, rgba(210, 230, 250) 100%);
}

.modalFooter {
    background: linear-gradient(108deg, rgba(207, 3, 252, 1) 0%, rgba(210, 230, 250) 100%);

}

.invalid {
    border: 5px solid red !important;
}

.valid {
    border: 3px solid rgb(13, 145, 25) !important;
}




