@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Encode Sans Expanded', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.accommodationsTag {
    text-decoration: none;
color: black;
}

.accommodationsTag:hover {

    color: rgb(207, 3, 252);
}

.rsvpModal {
    margin: auto;
    padding: 1rem;
}

.modalHeader {
    background-color: rgb(3, 165, 252);
}

.modalBody {
    background-color: rgb(207, 3, 252);
}



